body {
  font-family: sans-serif;
  margin: 0;
  padding: 1rem;
}

.container {
  text-align: center;
}

.content-container {
  margin: 0 auto;
  padding: 2rem;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 5px;
}

.graph-container {
  position: relative;
  height: 600px;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  background: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.close-button {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.opinion {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.engagement {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.engagement-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.description {
  flex-grow: 1;
}

h3 {
  margin-bottom: auto;
}

.arguments-list {
  list-style:square;
  padding: 0 1rem;
  text-align: justify;
}

.argument-item {
  padding: 0.25rem 0;
  border-bottom: 1px solid #eee;
}
